<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.withmes.ten.square.gathering.mapper.TbUsergathMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.withmes.ten.square.gathering.entity.TbUsergath">
        <id column="userid" property="userid" />
        <result column="gathid" property="gathid" />
        <result column="exetime" property="exetime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
 		userid ,gathid ,exetime		
    </sql>

</mapper>
